<div class="scd-item"
  data-cart-item
  data-id="{{- item.key -}}"
  data-product-id="{{- item.product_id -}}"
  data-index="{{- forloop.index -}}"
>
  <div class="scd-item__inner flex items-center">
    <div class="scd-item__image">
      <a href="{{- item.url -}}" class="block" style="--aspect-ratio: {{- item.image.aspect_ratio | default: 0.75 -}}">
        {% if item.image != blank %}
          {{- item | img_url: '360x' | img_tag: item.title -}}
        {% else %}
          {{- 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' -}}
        {% endif %}
      </a>
    </div>
    <div class="scd-item__info">
      <a href="{{- item.url -}}" class="font-medium hover:underline">
        {{- item.product.title -}}
      </a>
      {%- unless item.product.has_only_default_variant -%}
        <div class="scd-item__variant mb-1">
          {%- for option in item.options_with_values -%}
            <p class="scd-item__variant-option"><span class="font-medium">{{- option.name -}}: </span> {{- option.value -}}</p>
          {%- endfor -%}

          {% comment %}Properties{% endcomment %}
          {%- assign property_size = item.properties | size -%}
          {%- assign properties = 'template ' | split: ' ' -%}
          {%- if property_size > 0 -%}
            {%- assign properties = item.properties -%}
          {%- endif -%}
          {%- for p in properties -%}
            {%- assign property_first_char = p.first | slice: 0 -%}
            <p
                class="scd-item__variant-option {% if property_size == 0 or p.last == blank or property_first_char == '_' %}hidden{% endif %}"
                data-cart-item-property
            >
              <span class="sf-cart__item-label font-medium" data-cart-item-property-name>{{ p.first }}: </span>

              {%- comment -%}
                Check if there was an uploaded file associated
              {%- endcomment -%}
              <span data-cart-item-property-value>
                {%- if p.last contains '/uploads/' -%}
                  <a href="{{ p.last }}" data-role="product-upload" class="underline" target="_blank">{{ p.last | split: '/' | last }}</a>
                {%- else -%}
                  {{ p.last }}
                {%- endif -%}
              </span>
            </p>
          {%- endfor -%}
        </div>
      {%- endunless -%}
      <div class="scd-item__prices">
        {%- if item.original_price != item.final_price -%}
          <div class="cart-drawer__discounted-prices">
            <del class="scd-item__original-price text-color-sale-price">
              {{- item.original_price | money -}}
            </del>
            <span class="scd-item__price scd-item__price--discount sf-currency text-white">{{- item.final_price | money -}}</span>
          </div>
        {%- else -%}
          <span class="scd-item__original-price scd-item__price sf-currency text-white">{{- item.original_price | money -}}</span>
        {%- endif -%}

        <div {% unless item.unit_price_measurement %}class="hidden"{% endunless %}>
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
          <span class="price-unit-price text-sm text-color-secondary">
          {%- capture unit_price_separator -%}
            <span aria-hidden="true">/</span>
            <span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
          {%- endcapture -%}

            {%- capture unit_price_base_unit -%}
              {%- if item.unit_price_measurement.reference_value != 1 -%}
                {{- item.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ item.unit_price_measurement.reference_unit }}
            {%- endcapture -%}

          <span data-unit-price>{{ item.unit_price | money }}</span>
          {{- unit_price_separator -}}
          <span data-unit-price-base-unit>{{- unit_price_base_unit -}}</span>
        </span>
        </div>
      </div>

      {%- if item.discounts.size > 0 -%}
        <ul class="scd-item__discounts flex" role="list">
          {%- for discount in item.discounts -%}
            <li>
              {% render 'icon', name: 'discount' %}
              {{- discount.title -}}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      <div class="flex items-center mt-[10px]">
        <div class="scd-item__quantity flex justify-between rounded">
          <button class="scd-item__btn" data-id="{{- item.key -}}" data-qty-change="dec">-</button>
          <input
            class="py-1 scd-item__qty_input w-9 text-center"
            type="number"
            name="updates[]"
            data-id="{{- item.key -}}"
            value="{{- item.quantity -}}"
            min="0"
          />
          <button class="scd-item__btn" data-id="{{- item.key -}}" data-qty-change="inc">+</button>
        </div>
        <button class="scd-item__remove underline p-2 ml-2" data-id="{{- item.key -}}">
          {{- 'cart.general.remove' | t -}}
        </button>
      </div>
    </div>
  </div>
</div>
