{% if blocks.size > 0 %}
    <div class="{% if bordered %} lg:border-b lg:border-color-border{% endif %} sf__footer-middle">
        <div class="{{ container }}{% if container == 'w-full' %} px-4{% endif %}">
            <div class="sf-footer__accordion flex flex-wrap lg:flex-nowrap {% if bordered %}lg:-mx-8{% else %}-mx-5{% endif %}">
                {% for block in blocks %}
                    {% case block.settings.width %}
                        {% when '16%' %}
                            {%- assign block_width = 'lg:w-1/6' -%}
                        {% when '20%' %}
                            {%- assign block_width = 'lg:w-1/5' -%}
                        {% when '25%' %}
                            {%- assign block_width = 'lg:w-1/4' -%}
                        {% when '33%' %}
                            {%- assign block_width = 'lg:w-1/3' -%}
                        {% when '50%' %}
                            {%- assign block_width = 'lg:w-1/2' -%}
                        {% when '66%' %}
                            {%- assign block_width = 'lg:w-2/3' -%}
                        {% when '75%' %}
                            {%- assign block_width = 'lg:w-3/4' -%}
                        {% when '83%' %}
                            {%- assign block_width = 'lg:w-10/12' -%}
                        {% when '100%' %}
                            {%- assign block_width = 'lg:w-full' -%}
                    {% endcase %}

                    {%- assign block_title = block.settings.title -%}
                    {% if block.type == 'menu' and block_title == blank %}
                        {% assign block_title = linklists[block.settings.menu].title %}
                    {% endif %}
                    
                    <div class="sf-footer__block {% if block_title != blank %} sf__accordion-item {% if block.settings.open_default %} open{% endif %} {% endif %} sf__footer-block-{{ block.type }} w-full {{ block_width }}{% if bordered and forloop.last != true %} lg:border-r lg:border-color-border{% endif %} {% if block.settings.order_first %} order-first md:order-none{% endif %}">
                        <div class="sf-footer__block-inner {% if bordered %}lg:px-8{% else %}px-5{% endif %}">
                            {% if block.type == "newsletter" %}
                            <div class="newsletter-header">
                                {% render 'icon', name: 'new-mail', size: 'large' %}
                                <h3 class="font-medium mb-4 text-base sf__accordion-button sf__footer-block-title">{{ block_title }}</h3>
                            </div>
                            {% else %}
                                {% if block_title != blank %}
                                    <h3 class="font-medium mb-4 text-base sf__accordion-button sf__footer-block-title">{{ block_title }}</h3>
                                {% endif %}
                            {% endif %}
                           
                            {% case block.type %}
                                {% when 'image' %}
                                    <div class="footer_image-section">
                                        <img src="{{block.settings.footer_image | img_url: 'master'}}">
                                    </div>
                                {% when 'menu' %}
                                    {% render 'footer-block__menu', block: block, block_title: block_title %}
                                {% when 'our_store' %}
                                    {% render 'footer-block__our-stores', block: block %}
                                {% when 'newsletter' %}
                                    {% render 'footer-block__newsletter', block: block %}
                                {% when 'custom_text' %}
                                    {% render 'footer-block__text', block: block %}
                                {% when 'custom_html' %}
                                    {% render 'footer-block__html', block: block %}
                                {% else %}
                            {% endcase %}
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

