{%- assign text = key | t -%}

{%- capture text -%}
  {%- if text contains 'translation missing' -%}
    {%- case key -%}
      {%- when 'layout.back' -%}
        Back
      {%- when 'collections.paginate.load_more' -%}
        Load more
      {%- when 'products.product.preorder' -%}
        Pre-order
      {%- when 'products.product.out_of_stock' -%}
        Out of stock
      {%- when 'products.product.sold' -%}
        Sold
      {%- when 'products.product.available' -%}
        Available
      {%- when 'products.product.select_options' -%}
        Select options
      {%- when 'products.product.save_html' -%}
        Save <span class="sf-currency sf-currency--saved font-medium" data-saved-price>{{ amount }}</span>
      {%- when 'products.product.xr_button' -%}
        View in your space
      {%- when 'products.product.xr_button_label' -%}
        View in your space, loads item in augmented reality window
      {%- else -%}
        <span style="display: none;">Translation key not found!</span>
    {%- endcase -%}
  {%- else -%}
    {{ text }}
  {%- endif -%}
{%- endcapture -%}

{%- if text contains param -%}
  {%- assign text = text | replace: param, value -%}
{%- endif -%}

{{- text | strip_newlines | strip -}}