{% assign atc_text = 'products.product.add_to_cart' | t %}

{%- capture is_preorder -%}{%- render 'check-preorder', product: product -%}{%- endcapture -%}
{% if is_preorder == "true" %}
  {%- capture btn_text -%}
    {% render 'new-locale', key: 'products.product.preorder' %}
  {%- endcapture -%}
  <input type="hidden" name="properties[Pre-order item]" value="true">
  <input type="hidden" name="properties[_foxDiscount[plugin]]" value="PreOrder">
  <input type="hidden" name="properties[_foxDiscount[offer_id]]" value="{{ product.metafields.foxkit.preorder.id }}">
{% endif %}

<button
  type="submit"
  name="add"
  class="add-to-cart sf__btn flex-grow shrink not-change relative {{ class }} {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}"
  data-atc-text="{{ btn_text | default: atc_text }}"
>
  {% render 'atc-spinner' %}
  {% render 'icon', name: 'black-cart', size: 'large' %}
  <span class="not-change atc-text">
    {% if product.available %}
      {{ btn_text | default: atc_text }}
    {% else %}
      {{ 'products.product.sold_out' | t }}
    {% endif %}
  </span>
</button>
