{% assign bg_color = section.settings.background_color %}


{% capture container %}
    {{ section.settings.container }}
{% endcapture %}

<section
    style="background-color: {{ bg_color }};"
    class="home-icon-section {{ section.settings.custom_class }}"
    id="home-icon-{{ section.id }}"
>
    <div class="{{ container }} ">
        {% if section.settings.top_image != blank %}
            <div class="home-icon-section-image">
                {% render 'responsive-image', image: section.settings.top_image, image_class: '' %}
            </div>
        {% endif %}
        <div class="relative home-icon-title "
            style="background-color: {{ section.settings.main_background }};"
        >
            {% if section.settings.background_image != blank %}
                <div class="ab-image">
                    {% render 'responsive-image', image: section.settings.background_image, image_class: '' %}
                </div>
            {% endif %}
            <div class="home-icon-title-content">
                {% if section.settings.title != blank %}
                    <h3 class="font-pixel text-white mt-12">
                        {{ section.settings.title | upcase }}
                    </h3>
                {% endif %}
                {% if section.settings.description != blank %}
                    <p class="text-white">
                        {{ section.settings.description }}
                    </p>
                {% endif %}
            </div>
            <div class="home-icon-content">
                <div class="icon-section">
                    <div class="icon-item text-center">
                        {% if section.settings.icon_1 != blank %}
                            {{section.settings.icon_1 }}
                        {% endif %}
                        {% if section.settings.icon_text_1 != blank %}
                            <p class="icon-text text-white">{{ section.settings.icon_text_1  | upcase }}</p>
                        {% endif %}
                    </div>
                    <div class="icon-item text-center">
                        {% if section.settings.icon_2 != blank %}
                            {{section.settings.icon_2 }}
                        {% endif %}
                        {% if section.settings.icon_text_2 != blank %}
                            <p class="icon-text text-white">{{ section.settings.icon_text_2  | upcase }}</p>
                        {% endif %}
                    </div>
                    <div class="icon-item text-center">
                        {% if section.settings.icon_3 != blank %}
                            {{section.settings.icon_3 }}
                        {% endif %}
                        {% if section.settings.icon_text_3 != blank %}
                            <p class="icon-text text-white">{{ section.settings.icon_text_3  | upcase }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="home-icon-button">
                    {% if section.settings.button_text != blank %}
                        <a href="{{ section.settings.button_link | default: "#" }}" class="inline-block sf__btn  sf__btn-primary">
                            {{ section.settings.button_text | upcase  }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
</section>

{% schema %}
  {
    "name": "Home Text with Icons",
    "settings": [
    
    {
        "type": "header",
        "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000"
    },
    {
        "type": "color",
        "id": "main_background",
        "label": " Content Background color",
        "default": "#FF5AD1"
    },
    {
        "type": "image_picker",
        "id": "top_image",
        "label": "Top image"
    },
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "About<br> the brand"
    },
    {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Netus eleifend adipiscing eget velit, nec tincidunt. Turpis faucibus ac dis vestibulum, vestibulum id eros sed. Id viverra ut nisi, pretium tristique mattis vulputate fames laoreet. "
    },
    {
        "type": "html",
        "id": "icon_1",
        "label": "Icon 1 SVG code" 
    },
    {
        "type": "text",
        "id": "icon_text_1",
        "label": "Icon 1 Text",
        "default": "Value 1"
    },
    {
        "type": "html",
        "id": "icon_2",
        "label": "Icon 2 SVG code" 
    },
    {
        "type": "text",
        "id": "icon_text_2",
        "label": "Icon 2 Text",
        "default": "Value 2"
    },
    {
        "type": "html",
        "id": "icon_3",
        "label": "Icon 3 SVG code" 
    },
    {
        "type": "text",
        "id": "icon_text_3",
        "label": "Icon 3 Text",
        "default": "Value 3"
    },
    {
        "type": "header",
        "content": "Button"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button label",
        "default": "Learn more"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
    },
    {
        "type": "text",
        "id": "custom_class",
        "label": "Custom classes"
    }
    ],
    "presets": [
      {
        "name": "Home Text with Icons"
      }
    ]
  }
{% endschema %}
