{% assign bg_color = section.settings.background_color %}


{% capture container %}
    {{ section.settings.container }}
{% endcapture %}

<section
    style="background-color: {{ bg_color }};"
    class="home-title-section {{ section.settings.custom_class }}"
    id="home-title-{{ section.id }}"
>
    <div class="{{ container }} ">
        <div class="border-div1 bg-black">
            &nbsp;
        </div>
        <div class="border-div2 bg-black">
            &nbsp;
        </div>
    </div>
  
    <div class="bg-black py-24 text-center clear-both">
        {% if section.settings.title != blank %}
            <h2 class="color-white">
                {{section.settings.title | upcase}}
            </h3>
        {% endif %}
        {% if section.settings.sub_title != blank %}
            <h3 class="font-pixel color-white">
                {{section.settings.sub_title | upcase}}
            </h3>
        {% endif %}
    </div>
  
  
</section>

{% schema %}
  {
    "name": "Home Title Section",
    "settings": [
    
    {
        "type": "header",
        "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "You are a Human"
    },
    {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Title",
        "default": "NOT AN AVATAR"
    },
    {
        "type": "text",
        "id": "custom_class",
        "label": "Custom classes"
    }
    ],
    "presets": [
      {
        "name": "Home Title Section"
      }
    ]
  }
{% endschema %}
