{% assign st = section.settings %}
{% assign bg_color = section.settings.background_color %}


{% capture container %}
    {{ section.settings.container }}
{% endcapture %}

<section
    style="background-color: {{ bg_color }};"
    class="home-text-button relative {{ section.settings.custom_class }}"
    id="home-text-button-{{ section.id }}"
>
  <div class="po bg-white overlay-div"></div>
  <div class="{{ container }} bg-white text-{{ section.settings.header_alignment }}">
    <div class="home-text-button-header">
        {% if section.settings.heading != blank %}
            <div class="left_eye">
                {% render 'icon-eye' %}
            </div>
            <h3 class="font-pixel"> {{section.settings.heading | upcase }} </h3>
            <div class="right_eye">
                {% render 'icon-eye' %}
            </div>
        {% endif %}
    </div>
    <div class="home-text-button-description py-12">
        {% if section.settings.description != blank %}
            {{ section.settings.description }}
        {% endif %}
    </div>

    <div class="home-text-button-link">
        {% if section.settings.button_text != blank %}
            <a href="{{ section.settings.button_link | default: "#" }}" class="inline-block sf__btn  sf__btn-primary">
                {{ section.settings.button_text | upcase  }}
            </a>
        {% endif %}
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Home Text Button",
    "settings": [
    {
        "type": "select",
        "id": "header_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            }
        ]
    },
    {
        "type": "header",
        "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Wellness<br> and<br> metaverse"
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "Description"
    },
    {
        "type": "header",
        "content": "Button"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button label",
        "default": "Learn more"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
    },
    {
        "type": "text",
        "id": "custom_class",
        "label": "Custom classes"
    }
    ],
    "presets": [
      {
        "name": "Home Text Button"
      }
    ]
  }
{% endschema %}
