{% assign bg_color = section.settings.background_color %}


{% capture container %}
    {{ section.settings.container }}
{% endcapture %}

<section
    style="background-color: {{ bg_color }};"
    class="home-image-section relative {{ section.settings.custom_class }}"
    id="home-image-{{ section.id }}"
>
  <div class="{{ container }} ">
    {% if section.settings.image != blank %}
        {% render 'responsive-image', image: section.settings.image, image_class: '' %}
    {% endif %}
  </div>
  {% if section.settings.title != blank %}
    <div class="home-image-title bg-black">
       <h3 class="font-pixel color-white">
           {{section.settings.title | upcase}}
       </h3>
    </div>
  {% endif %}
  
</section>

{% schema %}
  {
    "name": "Home Image Section",
    "settings": [
    
    {
        "type": "header",
        "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "community"
    },
    {
        "type": "text",
        "id": "custom_class",
        "label": "Custom classes"
    }
    ],
    "presets": [
      {
        "name": "Home Image Section"
      }
    ]
  }
{% endschema %}
