{% assign bg_color = section.settings.background_color %}


{% capture container %}
    {{ section.settings.container }}
{% endcapture %}
{%- assign collection = collections[section.settings.collection_id] -%}
<section
    style="background-color: {{ bg_color }};"
    class="home-icon-section home-collection-section {{ section.settings.custom_class }} py-24"
    id="home-icon-{{ section.id }}"
>
    <div class="{{ container }} ">
        {% if section.settings.top_image != blank %}
            <div class="home-icon-section-image">
                {% render 'responsive-image', image: section.settings.top_image, image_class: '' %}
            </div>
        {% endif %}
        <div class="relative home-icon-title "
            style="background-color: {{ section.settings.main_background }};"
        >
            {% if section.settings.background_image != blank %}
                <div class="ab-image">
                    {% render 'responsive-image', image: section.settings.background_image, image_class: '' %}
                </div>
            {% endif %}
            <div class="home-icon-title-content">
                {% if section.settings.title != blank %}
                    <h3 class="font-pixel text-white mt-12">
                        {{ section.settings.title | upcase }}
                    </h3>
                {% endif %}
            </div>
            <div class="home-product-content">
                {% if collection != blank %}
                    {% for product in collection.products limit: product_to_show %}
                            {% render 'product-card', product: product, column_wrapper: true, card_style: "4", image_ratio: "original", show_vendor: false, hide_title: false %}
                    {% endfor %}
                {% endif %}
                <div class="over-div" style="background-color: {{ section.settings.main_background }};"></div>
            </div>
        </div>
        
    </div>
</section>

{% schema %}
  {
    "name": "Home Our Shop",
    "settings": [
    
    {
        "type": "header",
        "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000"
    },
    {
        "type": "color",
        "id": "main_background",
        "label": " Content Background color",
        "default": "#FF5AD1"
    },
    {
        "type": "image_picker",
        "id": "top_image",
        "label": "Top image"
    },
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Our<br> Shop"
    },
    {
        "type": "collection",
        "id": "collection_id",
        "label": "Collection"
    },
    {
        "type": "image_picker",
        "id": "bg_icon_1",
        "label": "Background Icon 1"
    },
    {
        "type": "image_picker",
        "id": "bg_icon_2",
        "label": "Background Icon 2"
    },
    {
        "type": "text",
        "id": "custom_class",
        "label": "Custom classes"
    }
    ],
    "presets": [
      {
        "name": "Home Our Shop"
      }
    ]
  }
{% endschema %}
