{% capture container %}
    {{ section.settings.container }}
{% endcapture %}

<section class="sf__pages-other faq-section bg-black" data-section-id="{{ section.id }}" data-section-type="page-faqs"
  {% if section.settings.background != blank %}
    style="background-image: url({{ section.settings.background | img_url:'master' }});"
  {% endif %}
>
  <div class="full-width {% if container == 'w-full' %} px-4{% endif %} pb-7 xl:pb-15">
    <div class="tab-titles {{ container }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'category' %}
            <div class="tab-title" style="border: solid 2px {{block.settings.tab_color}}; color: {{block.settings.tab_color}}; " data-id = "{{block.settings.tab_id}}">
              {{ block.settings.tab_name | upcase }}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
    <div class=" flex flex-col-reverse lg:flex-row accordion-section ">
      {% if section.settings.menu != blank %}
        <div class="lg:w-3/12 lg:pr-24 mt-6 lg:mt-0">
          <ul class="sf__list-row sf__list-row-border">
            {%- for link in linklists[section.settings.menu].links -%}
            <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}"><span>{{ link.title }}</span></a></li>
            {%- endfor -%}
          </ul>
        </div>
      {% endif %}
      <div class="{% if section.settings.menu != blank %}lg:w-9/12{% else %} {{ container }} w-full{% endif %}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'content' %}
              {% if block.settings.content != blank %}
              <div class="{% if forloop.index == 1 %}mb-10{% else %}my-10{% endif %}">
                {{ block.settings.content }}
              </div>
              {% endif %}
            {% else %}
              {% if block.settings.title != blank and block.settings.content != blank  %}
              <div class="sf__accordio-blocks sf__custom-accordion hidden {{block.settings.tab_id}}" data-category="{{block.settings.tab_id}}">
                <div class="sf__accordion-item{% if block.settings.open %} open{% endif %}" style="background: {{block.settings.background}}">
                  <h3 class="sf__accordion-button text-lg">Q: {{ block.settings.title | upcase }}</h3>
                  <div class="sf__accordion-content text-base text-color-subtext">{{ block.settings.content }}</div>
                </div>
              </div>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
      <div class="faq_border_image border_image_1">
        {% if section.settings.border_image_1 != blank %}
          <img src="{{ section.settings.border_image_1 | img_url: 'master' }}">
        {% endif %}
      </div>
      <div class="faq_border_image border_image_2">
        {% if section.settings.border_image_2 != blank %}
          <img src="{{ section.settings.border_image_2 | img_url: 'master' }}">
        {% endif %}
      </div>
    </div>
    <div class="more_question text-center ">
      {% if section.settings.title != blank %}
        <h3 class="font-pixel text-white mt-12">{{section.settings.title | upcase }}</h3>
      {% endif %}
      <div class="home-text-button-link py-6">
        {% if section.settings.button_text != blank %}
            <a href="{{ section.settings.button_link | default: "#" }}" class="inline-block sf__btn  sf__btn-primary">
                {{ section.settings.button_text | upcase  }}
            </a>
        {% endif %}
      </div>
      <div class="faq_border_image border_image_3">
        {% if section.settings.border_image_3 != blank %}
          <img src="{{ section.settings.border_image_3 | img_url: 'master' }}">
        {% endif %}
      </div>
      <div class="faq_border_image border_image_4">
        {% if section.settings.border_image_4 != blank %}
          <img src="{{ section.settings.border_image_4 | img_url: 'master' }}">
        {% endif %}
      </div>
    </div>
  </div>
</section>
<script src="{{ 'faq-tab.js' | asset_url }}" defer="defer"></script>


{% schema %}
{
  "name": "FAQs",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "border_image_1",
      "label": "Tile Image 1"
    },
    {
      "type": "image_picker",
      "id": "border_image_2",
      "label": "Tile Image 2"
    },
    {
      "type": "image_picker",
      "id": "border_image_3",
      "label": "Tile Image 3"
    },
    {
      "type": "image_picker",
      "id": "border_image_4",
      "label": "Tile Image 4"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Question Title",
      "default": "Still Got Questions?"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button label",
        "default": "Contact Us"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
    },
    {
        "type": "text",
        "id": "custom_class",
        "label": "Custom classes"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_name",
          "label": "Tab Name",
          "default": "General"
        },
        {
          "type": "text",
          "id": "tab_id",
          "label": "Tab ID",
          "default": "general"
        },
        {
          "type": "color",
          "id": "tab_color",
          "label": "Tab color",
          "default": "#FF0000"
        }
      ]
    },
    {
      "type": "accordion",
      "name": "Accordion item",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "Question Name"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Answer Content</p>"
        },
        {
          "type": "text",
          "id": "tab_id",
          "label": "Tab ID",
          "default": "general"
        },
        {
          "type": "checkbox",
          "id": "open",
          "label": "Open Tab By Default",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
