{%- assign st = section.settings -%}
{%- if section.settings.slideshow_height == 'adapt' -%}
  {%- assign first_block = section.blocks[0] -%}
  {%- if first_block.settings.background.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.333 -%}
  {%- else -%}
    {%- assign min_aspect_ratio = first_block.settings.background.aspect_ratio -%}
  {%- endif -%}
  {% assign wrapper_height = 100 | divided_by: min_aspect_ratio %}
{%- endif -%}

{% assign container = section.settings.container %}
{% assign use_content_above = section.settings.use_content_above %}

{% if 'container-fluid' contains container %}
  {% style %}
    {% if container == 'container' %}
    @media (min-width: 768px) {
      .home-banner__slideshow .sf__slider--adapt .swiper-slide {
        height: calc(var(--container-width)* 1px / var(--min-aspect-ratio));
      }
    }
    {% endif %}
    {% if container == 'container-fluid' %}
    @media (min-width: 768px) {
      .home-banner__slideshow .container-fluid .sf__slider--adapt .swiper-slide {
        height: calc((100vw - var(--offset-x) * 2)/ var(--min-aspect-ratio));
      }
    }
    @media (min-width: {{ settings.container_fluid_width | plus: settings.container_fluid_offset | plus: settings.container_fluid_offset }}px) {
      .home-banner__slideshow .container-fluid .sf__slider--adapt .swiper-slide {
        height: calc(var(--fluid-container-width)/ var(--min-aspect-ratio));
      }
    }
    {% endif %}
  {% endstyle %}
{% endif %}
<section
    id="sf__slideshow-{{ section.id }}"
    class="relative bg-black {{ section.settings.custom_class }} slider-{{ section.id }} home-banner__slideshow {% if section.settings.dots_position != 'bottom' %}sf-slider__pagination--{{ section.settings.dots_position }}{% endif %}"
    data-section-type="slider" data-section-id="{{ section.id }}"
    data-autoplay="{% if request.design_mode %}false{% else %}{{ st.autorotate }}{% endif %}"
    data-autoplay-speed="{{ st.autorotate_speed }}"
    data-enable-arrows="{{ st.show_arrows }}"
    data-enable-dots="{{ st.show_dots }}"
    data-slide-height="{{ section.settings.slideshow_height }}"
    {% if section.settings.slideshow_height == 'adapt' %}
    data-min-aspect-ratio="{{ min_aspect_ratio }}"
    {% endif %}
    style="--data-autoplay-speed: {{ st.autorotate_speed }}s; --min-aspect-ratio: {{ min_aspect_ratio }}"
>
    <div class="{{ section.settings.container }}">
        <div id="sf-slider-{{ section.id }}" class="swiper-container">
            <div
                class="swiper-wrapper sf__slider sf__slider--{{ st.slideshow_height }}"
               {% if section.settings.slideshow_height == 'adapt' %}
               data-min-aspect-ratio="{{ min_aspect_ratio }}"
               style="--slide-height: {{- wrapper_height -}}vw"
               {% endif %}
            >
                {% for block in section.blocks %}
                    {% assign bs = block.settings %}
                    {% assign image_position = bs.image_alignment %}
                    {%- assign content_positions = bs.content_position | split: ' ' -%}
                    {%- assign text_alignment = bs.text_alignment -%}
                    {%- assign text_horizontal_alignment = content_positions.first -%}
                    {%- assign text_vertical_alignment = content_positions.last | strip -%}
                    {%- assign footer_alignment = bs.footer_alignment -%}
                    {%- assign image_link = bs.image_link -%}
                    {% assign should_show_content = false %}
                    {% if bs.title != blank or bs.subheading != blank or bs.description != blank or bs.button_text != blank%}
                      {% assign should_show_content = true %}
                    {% endif %}


                    {% assign content_container = 'container-fluid' %}
                    {% if bs.content_in_container == true %}
                        {% assign content_container = 'container' %}
                    {% endif %}

                    {% assign bg_image = bs.background %}
                    {% if bs.mb_background != blank %}
                        {% assign bg_image = bs.mb_background %}
                    {% endif %}

                    {% assign video_urls = bs.video | newline_to_br | split: '<br />' %}
                    {% capture video_bg %}
                        <div class="sf__slide-bg">
                            <video loop playsinline muted autoplay preload="auto">
                                {% for video in video_urls %}
                                    {% assign video_url = video | split: '?v=' %}
                                    {% assign video_url = video_url | first | strip_newlines %}
                                    {% assign format = '' %}
                                    {% if video_url contains '.mp4' %}
                                        {% assign format = 'mp4' %}
                                    {% endif %}
                                    {% if video_url contains '.webm' %}
                                        {% assign format = 'webm' %}
                                    {% endif %}
                                    {% if video_url contains '.mov' %}
                                        {% assign format = 'mp4' %}
                                    {% endif %}
                                    <source src="{{ video_url }}" type="video/{{ format }}">
                                {% endfor %}
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% endcapture %}
                    <div
                        {{ block.shopify_attributes }}
                        data-slide="{{ forloop.index0 }}"
                        class="swiper-slide relative sf__slide--text-{{ bs.text_color }}  {% if forloop.first %} sf-slider--first{% endif %}{% if image_link != blank %} sf-slider--has-link{% endif %}"
                        data-slide-type="{{ block.type }}"
                    >
                        <div class="position md:h-full bg-cover bg-center"
                        >
                            {% if image_link != blank %}
                              <a href="{{ image_link }}" class="sf-slider__link"></a>
                            {% endif %}

                            {% comment %} Image on desktop {% endcomment %}
                            <div class="hidden md:block">
                                {% if bs.background == blank and bs.video == blank %}
                                    <div class="sf__slide-image sf__slideshow-placeholder absolute inset-0 overflow-hidden">
                                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                                    </div>
                                {% else %}
                                    {% if block.type == 'video_slide' %}
                                        {{ video_bg }}
                                    {% else %}
                                        <div
                                            class="sf__slide-bg hidden md:block bg-cover bg-no-repeat bg-center lazyload{% unless forloop.first %} lazypreload{% endunless %} js"
                                            data-bg="{{ bs.background | img_url: '300x300' }}"
                                            data-bgset="{% render 'bgset', image: bs.background %}"
                                            data-parent-fit="contain"
                                            data-sizes="auto"
                                            style="background-position: {{ image_position | default: 'center' }};"
                                            data-image-loading
                                        >
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {% if st.show_overlay %}
                                    <div class="sf__slideshow-overlay"></div>
                                {% endif %}
                            </div>

                            {% comment %} Image on mobile {% endcomment %}
                            <div class="md:hidden relative">
                                <div class="bg-black mb-home-banner">
                                    <div class="mb-header">
                                        {% if block.settings.mb_image_1 != blank %}
                                            {% render 'responsive-image', image: block.settings.mb_image_1, image_class: '' %}
                                        {% endif %}
                                        {% if bs.title != blank %}
                                            <h2 class="slide__block-title {% if bs.text_size == 'medium' %}text-3xl lg:text-5xl{% else %}lg:text-5xl xl:text-6xl 2xl:text-7xl{% endif %} mb-3 md:mb-5 {{ text_color }} lg:leading-tight xl:leading-tight 2xl:leading-tight">{{ bs.title }}</h2>
                                        {% endif %}
                                        {% if block.settings.mb_image_2 != blank %}
                                            {% render 'responsive-image', image: block.settings.mb_image_2, image_class: '' %}
                                        {% endif %}
                                    </div>
                                    <div class="home-banner-main">
                                        {% if block.settings.mb_background != blank %}
                                            {% render 'responsive-image', image: block.settings.mb_background, image_class: '' %}
                                        {% endif %}
                                    </div>
                                    <div class="home-banner-button">
                                        {% if bs.button_text != blank %}
                                            <a href="{{ bs.button_link | default: "#" }}" class="slide__block-link {% if use_content_above %} content_above{% endif %}  inline-block sf__btn {{ bs.button_style }} {{ bs.button_size }}">
                                                {{ bs.button_text }}
                                            </a>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="home-banner-footer">
                                        {% if block.settings.mb_image_4 != blank %}
                                            {% render 'responsive-image', image: block.settings.mb_image_4, image_class: '' %}
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>

                            {% assign colorBtn = bs.text_color %}
                            {%- if colorBtn == 'black' -%}
                                {%- assign colorBtn = '#FFEA30' -%}
                                {%- assign colorBtnHover = '#000' -%}
                            {%- else -%}
                                {%- assign colorBtn = '#000' -%}
                                {%- assign colorBtnHover = '#FFEA30' -%}
                            {%- endif -%}

                            {% capture content_position %}
                                {% if use_content_above %}md:relative absolute inset-0{% else %} relative{% endif %}
                            {% endcapture %}
                            {% if should_show_content %}
                            <div class="mb-hidden sf__slide-block slide__block-desktop flex sf__slide-block--{{ text_vertical_alignment }}-{{ text_horizontal_alignment }} {{ content_container }} w-full h-full p-4 md:p-6 lg:py-24 {{ content_position }}{% unless use_content_above %} sf__slide-block--content-stack{% endunless %}" style="--btn-color: {{ colorBtn }};--btn-color-hover: {{ colorBtnHover }};">
                                <div class="sf__slide-content max-w-4xl w-max text-{{ text_alignment }}">
                                    {% capture text_color %}
                                        {% if use_content_above %}text-{{bs.text_color}}{% else %}text-black md:text-{{ bs.text_color }}{% endif %}
                                    {% endcapture %}
                                    {% if bs.subheading != blank %}
                                        <div class="slide__block-subtitle {% if bs.text_size == 'medium' %}text-base{% else %}text-xl{% endif %} mb-2 md:mb-[14px] {{ text_color }}">{{ bs.subheading }}</div>
                                    {% endif %}
                                    {% if bs.title != blank %}
                                        <h2 class="slide__block-title {% if bs.text_size == 'medium' %}text-3xl lg:text-5xl{% else %}lg:text-5xl xl:text-6xl 2xl:text-7xl{% endif %} mb-3 md:mb-5 {{ text_color }} lg:leading-tight xl:leading-tight 2xl:leading-tight">{{ bs.title }}</h2>
                                    {% endif %}
                                    {% if bs.description != blank %}
                                        <div class="slide__block-description {% if bs.text_size == 'medium' %}text-base{% else %}md:text-xl{% endif %} mb-3 md:mb-7 {{ text_color }}">{{ bs.description }}</div>
                                    {% endif %}
                                    {% if bs.button_text != blank %}
                                        <a href="{{ bs.button_link | default: "#" }}" class="slide__block-link {% if use_content_above %} content_above{% endif %}  inline-block sf__btn {{ bs.button_style }} {{ bs.button_size }}">
                                            {{ bs.button_text }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% if bs.show_footer %}
                                <div class="sf__slide-footer {{ content_container }} absolute inset-x-0 bottom-16 z-10 flex items-center justify-{{ footer_alignment }} text-{{ bs.text_color }}">
                                    <span class="mx-2">{{ bs.footer_text }}</span>
                                    {% if bs.footer_link != blank %}
                                        <span>|</span>
                                        <a
                                          href="{{ bs.footer_link | default: "#" }}"
                                          class="ml-2 sf__btn sf__btn-link"
                                        >
                                            {{ bs.footer_button }}
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% capture dotColor %}sf__dot-{{section.settings.dots_color}}{% endcapture %}
            {% if section.blocks.size > 1 %}
              {% if st.show_dots or st.show_arrows %}
                {% render 'slider-controls', absolute: true, show_nav: st.show_arrows, nav_class: 'border border-1', dots_class: dotColor %}
              {% endif %}
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Slideshow",
    "max_blocks": 6,
    "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "w-full",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "select",
            "id": "slideshow_height",
            "label": {"en": "Slide height"},
            "default": "adapt",
            "options": [
                {"label": {"en": "Adapt to first slide image"},"value": "adapt"},
                {"label": {"en": "Small"},"value": "small"},
                {"label": {"en": "Medium"},"value": "medium"},
                {"label": {"en": "Large"},"value": "large"},
                {"label": {"en": "Full-screen"},"value": "fullscreen"}
            ],
            "info": "Only applies to screens > 767px"
        },
        {
            "type": "checkbox",
            "id": "show_overlay",
            "label": {"en": "Show overlay"},
            "default": false
        },
        {
            "type": "select",
            "id": "dots_position",
            "label": "Pagination position",
            "default": "bottom",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "select",
            "id": "dots_color",
            "label": "Pagination color",
            "default": "dark",
            "options": [
                {
                    "value": "dark",
                    "label": "Dark"
                },
                {
                    "value": "light",
                    "label": "Light"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_dots",
            "label": "Show pagination",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_arrows",
            "label": "Show navigation",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "autorotate",
            "label": {"en": "Auto-rotate slides"},
            "default": false
        },
        {
            "type": "range",
            "id": "autorotate_speed",
            "label": {"en": "Change slides every"},
            "info": {"en": "Work when auto-rotate"},
            "max": 10,
            "min": 2,
            "step": 1,
            "unit": "s",
            "default": 5
        },
        {
            "type": "header",
            "content": "Mobile settings"
        },
        {
            "type": "checkbox",
            "id": "use_content_above",
            "label": "Use content above the image",
            "default": false
        },
        {
            "type": "header",
            "content": "Advanced"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        }
    ],
    "blocks": [
            {
                "type": "slider_item",
                "name": "Image slide",
                "settings": [
                    {
                        "type": "header",
                        "content": "Background settings"
                    },
                    {
                        "type": "image_picker",
                        "id": "background",
                        "label": "Image on desktop",
                        "info": "1920 x 900px recommended"
                    },
                    {
                        "type": "image_picker",
                        "id": "mb_image_1",
                        "label": "Image 1 on mobile"
                    },
                    {
                        "type": "image_picker",
                        "id": "mb_image_2",
                        "label": "Image 2 on mobile"
                    },
                    {
                        "type": "image_picker",
                        "id": "mb_background",
                        "label": "Image3 on mobile"
                    },
                    {
                        "type": "image_picker",
                        "id": "mb_image_4",
                        "label": "Image4 on mobile"
                    },
                    {
                        "type":"select",
                        "id":"image_alignment",
                        "label":{
                            "en":"Image position"
                        },
                        "default":"center",
                        "options":[
                            {
                                "label":{
                                    "en":"Top left"
                                },
                                "value":"left top"
                            },
                            {
                                "label":{
                                    "en":"Top center"
                                },
                                "value":"center top"
                            },
                            {
                                "label":{
                                    "en":"Top right"
                                },
                                "value":"right top"
                            },
                            {
                                "label":{
                                    "en":"Middle left"
                                },
                                "value":"left center"
                            },
                            {
                                "label":{
                                    "en":"Middle center"
                                },
                                "value":"center"
                            },
                            {
                                "label":{
                                    "en":"Middle right"
                                },
                                "value":"right center"
                            },
                            {
                                "label":{
                                    "en":"Bottom left"
                                },
                                "value":"left bottom"
                            },
                            {
                                "label":{
                                    "en":"Bottom center"
                                },
                                "value":"center bottom"
                            },
                            {
                                "label":{
                                    "en":"Bottom right"
                                },
                                "value":"right bottom"
                            }
                        ]
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "checkbox",
                        "id": "content_in_container",
                        "label": "Content in container box",
                        "default": false
                    },
                    {
                        "type":"select",
                        "id":"content_position",
                        "label":{
                            "en":"Content position"
                        },
                        "default":"center middle",
                        "options":[
                            {
                                "label":{
                                    "en":"Top left"
                                },
                                "value":"left top"
                            },
                            {
                                "label":{
                                    "en":"Top center"
                                },
                                "value":"center top"
                            },
                            {
                                "label":{
                                    "en":"Top right"
                                },
                                "value":"right top"
                            },
                            {
                                "label":{
                                    "en":"Middle left"
                                },
                                "value":"left middle"
                            },
                            {
                                "label":{
                                    "en":"Middle center"
                                },
                                "value":"center middle"
                            },
                            {
                                "label":{
                                    "en":"Middle right"
                                },
                                "value":"right middle"
                            },
                            {
                                "label":{
                                    "en":"Bottom left"
                                },
                                "value":"left bottom"
                            },
                            {
                                "label":{
                                    "en":"Bottom center"
                                },
                                "value":"center bottom"
                            },
                            {
                                "label":{
                                    "en":"Bottom right"
                                },
                                "value":"right bottom"
                            }
                        ]
                    },
                    {
                        "type": "select",
                        "id": "text_alignment",
                        "label": "Content alignment",
                        "default": "center",
                        "options": [
                            {
                                "value": "left",
                                "label": {"en": "Left"}
                            },
                            {
                                "value": "center",
                                "label": {"en": "Center"}
                            },
                            {
                                "value": "right",
                                "label": {"en": "Right"}
                            }
                        ]
                    },
                    {
                        "type": "select",
                        "id": "text_size",
                        "label": "Text size",
                        "default": "medium",
                        "options": [
                            {
                                "value": "medium",
                                "label": {"en": "Medium"}
                            },
                            {
                                "value": "large",
                                "label": {"en": "Large"}
                            }
                        ]
                    },
                    {
                        "type": "select",
                        "id": "text_color",
                        "label": "Text color",
                        "default": "black",
                        "options": [
                            {
                                "value": "black",
                                "label": {"en": "Dark"}
                            },
                            {
                                "value": "white",
                                "label": {"en": "Light"}
                            }
                        ]
                    },
                    {
                        "type": "textarea",
                        "id": "subheading",
                        "label": "Subheading",
                        "info":"Allow custom HTML"
                    },
                    {
                        "type": "textarea",
                        "id": "title",
                        "label": "Heading",
                        "default": "New Collection",
                        "info":"Allow custom HTML"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description",
                        "default": "<p>Tell your campaign through images</p>"
                    },
                    {
                        "type": "url",
                        "id": "image_link",
                        "label": "Image link",
                        "info":"Link to image"
                    },
                    {
                        "type": "header",
                        "content": "Button"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button label",
                        "default": "Shop now"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Button link"
                    },
                    {
                        "type": "select",
                        "id": "button_style",
                        "label": "Button style",
                        "options": [
                        {
                            "value": "sf__btn-primary",
                            "label": "Primary button"
                        },
                        {
                            "value": "sf__btn-secondary",
                            "label": "Secondary button"
                        },
                        {
                            "value": "sf__btn-white",
                            "label": "White button"
                        },
                        {
                            "value": "sf__btn-link",
                            "label": "Underline button"
                        }
                        ],
                        "default": "sf__btn-primary"
                        },
                    {
                        "type": "select",
                        "id": "button_size",
                        "label": "Button size",
                        "options": [
                        {
                            "value": "sf__btn-small",
                            "label": "Button small"
                        },
                        {
                            "value": "",
                            "label": "Button medium"
                        },
                        {
                            "value": "sf__btn-large",
                            "label": "Button large"
                        }
                        ],
                        "default": ""
                    },
                    {
                        "type": "header",
                        "content": "Footer"
                    },
                    {
                        "type": "checkbox",
                        "id": "show_footer",
                        "default": false,
                        "label": "Show footer"
                    },
                    {
                        "type": "select",
                        "id": "footer_alignment",
                        "label": "Footer alignment",
                        "options": [
                        {
                            "value": "start",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "end",
                            "label": "Right"
                        }
                        ],
                        "default": "end"
                    },
                    {
                        "type": "text",
                        "id": "footer_text",
                        "label": "Footer text",
                        "default": "New Collection"
                    },
                    {
                        "type": "text",
                        "id": "footer_button",
                        "label": "Footer button",
                        "default": "Shop Now"
                    },
                    {
                        "type": "url",
                        "id": "footer_link",
                        "label": "Footer link"
                    }
                ]
            },
            {
                "type": "video_slide",
                "name": "Video slide",
                "settings": [
                    {
                        "type": "header",
                        "content": "Background settings"
                    },
                    {
                        "type": "textarea",
                        "id": "video",
                        "label": "Video",
                        "default": "https://cdn.shopify.com/s/files/1/0555/7220/1635/files/blurry-trees.mp4",
                        "info": "Allow multiple format, each video in a new line. MP4, MOV and WEBM supported."
                    },
                    {
                        "type": "image_picker",
                        "id": "mb_background",
                        "label": "Image on mobile",
                        "info": "600 x 480px recommended"
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "checkbox",
                        "id": "content_in_container",
                        "label": "Content in container box",
                        "default": false
                    },
                    {
                        "type":"select",
                        "id":"content_position",
                        "label":{
                            "en":"Content position"
                        },
                        "default":"center middle",
                        "options":[
                            {
                                "label":{
                                    "en":"Top left"
                                },
                                "value":"left top"
                            },
                            {
                                "label":{
                                    "en":"Top center"
                                },
                                "value":"center top"
                            },
                            {
                                "label":{
                                    "en":"Top right"
                                },
                                "value":"right top"
                            },
                            {
                                "label":{
                                    "en":"Middle left"
                                },
                                "value":"left middle"
                            },
                            {
                                "label":{
                                    "en":"Middle center"
                                },
                                "value":"center middle"
                            },
                            {
                                "label":{
                                    "en":"Middle right"
                                },
                                "value":"right middle"
                            },
                            {
                                "label":{
                                    "en":"Bottom left"
                                },
                                "value":"left bottom"
                            },
                            {
                                "label":{
                                    "en":"Bottom center"
                                },
                                "value":"center bottom"
                            },
                            {
                                "label":{
                                    "en":"Bottom right"
                                },
                                "value":"right bottom"
                            }
                        ]
                    },
                    {
                        "type": "select",
                        "id": "text_alignment",
                        "label": "Content alignment",
                        "default": "center",
                        "options": [
                            {
                                "value": "left",
                                "label": {"en": "Left"}
                            },
                            {
                                "value": "center",
                                "label": {"en": "Center"}
                            },
                            {
                                "value": "right",
                                "label": {"en": "Right"}
                            }
                        ]
                    },
                    {
                        "type": "select",
                        "id": "text_size",
                        "label": "Text size",
                        "default": "medium",
                        "options": [
                            {
                                "value": "medium",
                                "label": {"en": "Medium"}
                            },
                            {
                                "value": "large",
                                "label": {"en": "Large"}
                            }
                        ]
                    },
                    {
                        "type": "select",
                        "id": "text_color",
                        "label": "Text color",
                        "default": "black",
                        "options": [
                            {
                                "value": "black",
                                "label": {"en": "Dark"}
                            },
                            {
                                "value": "white",
                                "label": {"en": "Light"}
                            }
                        ]
                    },
                    {
                        "type": "textarea",
                        "id": "subheading",
                        "label": "Subheading",
                        "info":"Allow custom HTML"
                    },
                    {
                        "type": "textarea",
                        "id": "title",
                        "label": "Heading",
                        "default": "New Collection",
                        "info":"Allow custom HTML"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description",
                        "default": "<p>Tell your campaign through images</p>"
                    },
                    {
                      "type": "url",
                      "id": "image_link",
                      "label": "Image link",
                      "info":"Link to image"
                    },
                    {
                      "type": "header",
                      "content": "Button"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button label",
                        "default": "Shop now"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Button link"
                    },
                    {
                        "type": "select",
                        "id": "button_style",
                        "label": "Button style",
                        "options": [
                        {
                            "value": "sf__btn-primary",
                            "label": "Primary button"
                        },
                        {
                            "value": "sf__btn-secondary",
                            "label": "Secondary button"
                        },
                        {
                            "value": "sf__btn-white",
                            "label": "White button"
                        },
                        {
                            "value": "sf__btn-link",
                            "label": "Underline button"
                        }
                        ],
                        "default": "sf__btn-primary"
                        },
                    {
                        "type": "select",
                        "id": "button_size",
                        "label": "Button size",
                        "options": [
                        {
                            "value": "sf__btn-small",
                            "label": "Button small"
                        },
                        {
                            "value": "",
                            "label": "Button medium"
                        },
                        {
                            "value": "sf__btn-large",
                            "label": "Button large"
                        }
                        ],
                        "default": ""
                    },
                    {
                        "type": "header",
                        "content": "Footer"
                    },
                    {
                        "type": "checkbox",
                        "id": "show_footer",
                        "default": false,
                        "label": "Show footer"
                    },
                    {
                        "type": "select",
                        "id": "footer_alignment",
                        "label": "Footer alignment",
                        "options": [
                        {
                            "value": "start",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "end",
                            "label": "Right"
                        }
                        ],
                        "default": "end"
                    },
                    {
                        "type": "text",
                        "id": "footer_text",
                        "label": "Footer text",
                        "default": "New Collection"
                    },
                    {
                        "type": "text",
                        "id": "footer_button",
                        "label": "Footer button",
                        "default": "Shop Now"
                    },
                    {
                        "type": "url",
                        "id": "footer_link",
                        "label": "Footer link"
                    }
                ]
            }
    ],
    "presets": [{
        "name": "Slideshow",
        "category": "Image",
        "blocks": [
                { "type": "slider_item" },
                { "type": "slider_item" },
                { "type": "slider_item" }
            ]
    }]
  }
{% endschema %}
