{% comment %}
  All custom CSS in this file will be kept when updating the theme
  Write your custom CSS below
{% endcomment %}
/*  Start Default Style */

.color-white{
  color: white;
}
.color-black{
  color: black
}
.font-pixel{
  font-family: 'Pixeled';
}
.clear-both{
  clear: both;
}

/* End Default Style */
/* Header Style by Shoplabs */

.sf-header header{
  padding: 10px 0px;
}
.desktop_dropdown-menu{
  width: 100%;
  position: fixed;
  height: 100vh;
}
.desktop_dropdown-menu a{
  font-size: 24px;
}
.desktop_dropdown-menu a:hover{
  font-family: 'Pixeled';
}
@media (max-width:1024px) {
  .sf-header header{
    padding: 0px 10px 0px 20px;
  }
  .sf-menu-wrapper-mobile li a{
    font-size: 30px;
  }
  .sf-header__mobile-right .px-2{
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* End Header */

/* Start Footer */

#shopify-section-footer{
  position: relative;
}
.footer_image-section{
  position: absolute;
  top: -150px;
  padding: 80px;
  background: white;
  left: 0px;
  width: 50vw;
}
.footer_image-section img{
  margin: 0 auto;
}
.sf__footer-block-newsletter .sf-footer__block-inner{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.newsletter-header{
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.newsletter-header svg{
  width: 45px;
}
.newsletter-header .sf__footer-block-title{
  font-size: 24px;
  margin-bottom: 5px;
}
.sf-footer form.sf__footer-form-newsletter .sf__newletter__form-input{
  box-shadow: 0 5px 0 0 #E5E5E5, 0 -5px 0 0 #E5E5E5, 6px 0 0 0 #E5E5E5, -6px 0 0 0 #E5E5E5;
  padding-left: 20px;
}
.sf__footer-form-newsletter .sf__form-submit{
  background: #FF5AD1;
  color: black;
  letter-spacing: 4px;
  font-weight: 600;
}
.sf__footer-form-newsletter .form-control.form__control-icon:focus{
  border: none;
}
.footer-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sf__footer-bottom-inner .sf-footer__left{
  width: 67%;
}
.sf__footer-bottom-inner .sf-footer__center{
  width: 33%;
  text-align: right;
}
.sf__footer-bottom{
  margin-top: 60px;
}
@media (max-width:768px) {
  .footer_image-section{
    top: 0px;
    position: relative;
    padding: 0px;
    background: white;
    width: 100%;
  }
  .footer_image-section img{
    max-width: 100px;
  }
  .sf__footer-bottom-inner .sf-footer__left, .sf__footer-bottom-inner .sf-footer__center{
    width: 100%;
    text-align: center;
  }
  .footer-menu{
    display: block;
  }
  .sf-footer a{
    font-size: 23px;
    line-height: 3;
  }
  .newsletter-header{
    justify-content: center;
  }
  .sf__footer-bottom{
    margin-top: 10px;
  }
  .sf__accordion-content  .relative{
    box-shadow: 0 5px #e5e5e5, 0 -5px #e5e5e5, 6px 0 #e5e5e5, -6px 0 #e5e5e5;
  }
  .sf__accordion-content .relative input{
    box-shadow: none;
  }
  .sf__accordion-content .relative .sf__form-submit{
    position: relative;
    width: 100%;
    padding: 14px;
    justify-content: center;
    font-weight: 600;
  }
  .sf-footer .sf__footer-middle .sf__footer-block-newsletter{
    margin-top: 30px;
  }
  
}
/* End Footer */

/* Start Homepage Banner */
.mb-home-banner{
  padding-top: 40px;
}
.mb-header{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.mb-header .sf-image{
  width: 30px;
}
.mb-header h2{
  color: white;
}
.home-banner-button{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.home-banner-footer{
  margin-top: 40px;
}
@media (max-width:768px) {
  .mb-hidden{
    display: none;
  }
}
/* End Homepage Banner */

/* Start Home Text Button Section  */
.home-text-button-header{
  position: relative;
}
.home-text-button-header .left_eye{
  position: absolute;
  left: 20%;
  bottom: 0px;
}
.home-text-button-header .right_eye{
  position: absolute;
  right: 20%;
  top: 0px;
}
.home-text-button .container-fluid{
  --offset-x: 0rem;
  padding-top: 100px;
}
.overlay-div{
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0px;
}
.home-text-button-description{
  max-width: 877px;
  margin: 0 auto;
  font-size: 24px;
}
@media (max-width:768px) {
  .home-text-button-header .left_eye,
  .home-text-button-header .right_eye{
    display: none;
  }
  .home-text-button .container-fluid{
    --offset-x: 1rem;
  }
  .overlay-div{
    display: none;
  }
}
/* End Home Text Button Section */

/* Start Home Image Section */
.home-image-title{
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-shadow: 0 6px #4AA1FF, 0 -6px #FFEA30, 6px 0 #FF5AD1, 6px 0 #4AA1FF;
}
.home-image-title h3{
  letter-spacing: 4px;
}
@media (min-width: 768px){
  .home-image-title{
    position: absolute;
    bottom: 20px;
    width: 600px;
    left: 0px;
    text-align: right;
    padding: 10px;
    padding-right: 40px;
    box-shadow: 0 6px #4AA1FF, 0 -6px #FFEA30, 6px 0 #FF5AD1, 6px 0 #4AA1FF;
  } 
}
@media (min-width:1204px) {
  .home-image-title h3{
    letter-spacing: 14px;
    font-size: 36px;
  }
  .home-image-title{
    position: absolute;
    bottom: 20px;
    width: 50%;
    left: 0px;
    text-align: right;
    padding: 10px;
    padding-right: 40px;
    box-shadow: 0 6px #4AA1FF, 0 -6px #FFEA30, 6px 0 #FF5AD1, 6px 0 #4AA1FF;
  }
}
@media (max-width: 768px){
  .home-image-section .container-fluid{
    padding: 30px 0px;
  } 
}
/* End Home Image Section */

/* Start Home Title Section */
.border-div1, .border-div2{
  display: none;
}

.home-title-section h3{
  -webkit-text-stroke: 1px #4AA1FF;
}

@media (min-width: 768px){
  .border-div1{
    display: block;
    height: 30px;
    float: right;
    width: 60%;
  }
  .border-div2{
    display: block;
    height: 30px;
    float: right;
    width: 70%;
  }
  .home-title-section h3{
    -webkit-text-stroke: 1px #FF5AD1;
  }
}
@media (min-width: 1204px){
  .home-title-section h2{
    font-size: 72px;
    letter-spacing: 0.15em;
    font-weight: 400;
    line-height: 98px;
  }
  .home-title-section h3{
    font-size: 44px;
    -webkit-text-stroke: 1px #FF5AD1;
  }
}
@media (max-width: 768px){
  .home-title-section .bg-black{
    padding: 40px;
  }
}
/* End Home Title Section */

/* Start Home Text with Icon Section */

.home-icon-section-image{
  display: block;
  width: 100%;
  margin-left: auto;
}
.ab-image{
  position: absolute;
  width: 30%;
  top: 0px;
  right: 0px;
}
.home-icon-title-content{
  padding: 30px;
}
.home-icon-title-content h3{
  letter-spacing: 6px;
}
.home-icon-title-content p{
  margin-top: 40px;
  font-size: 24px;
}
.icon-text{
  margin-top: 10px;
  font-size: 24px;
}
.home-icon-button{
  display: flex;
  justify-content: center;
  padding: 30px;
}
.icon-item  svg{
  margin: 10px auto;
}
.icon-item {
  margin-top: 30px;
}
@media (min-width: 768px){
  .home-icon-button{
    padding: 0px;
  }
  .icon-item {
    margin-top: 0px;
  }
  .home-icon-section-image{
    width: 430px;
  }
  .home-icon-button{
    background: black;
    margin-left: 60px;
    padding-right: 60px;
  }
  .home-icon-title-content{
    padding: 60px;
  }
  .ab-image{
    width: 26%;
    max-width: 260px;
  }
  .home-icon-title-content p{
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    max-width: 780px;
  }

  .icon-section{
    background-color: black;
    margin-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1204px){
  .home-icon-title-content{
    padding: 60px 120px;
  }
  .home-icon-button{
    background: black;
    margin-left: 120px;
    padding-right: 120px;
  }
  .icon-section{
    margin-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .home-icon-title-content h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 66px;
    letter-spacing: 0.45em;
  }
  
}
@media (max-width: 768px){
  .home-icon-section .container-fluid{
    --offset-x: 0px;
  }

}
/* End Home Text with Icon Section */

/* Start Home Collection Section */
  .home-product-content{
    display: flex;
    justify-content: center;
    column-gap: 80px;
    position: relative;
    background: #000;
    padding-bottom: 100px;
  }
  .home-product-content .sf-column{
    width: 25%;
    z-index: 2;
  }
  .home-product-content .sf__pcard-content{
    background: white;
    text-align: center;
  }
  .home-product-content .sf__pcard-name{
    text-transform: uppercase;
    font-size: 20px;
  }
  .home-product-content .sf__pcard-style-4 .sf__pcard-content .sf__pcard-quick-add{
    width: 100%;
  }
  .home-product-content .sf__pcard-style-4 .sf__pcard-content .sf__pcard-quick-add .sf__btn{
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background: #FFEA30;
    padding: 15px;
  }
  .home-product-content .sf__pcard-style-4 .sf__pcard-content .sf__pcard-quick-add .sf__btn:hover{
    color: #000 !important;
  }
  .home-product-content .over-div{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 350px;
  }
  @media (max-width: 768px){
    .home-product-content{
      display: block;
      position: relative;
      background: transparent;
      padding: 30px;
      padding-top: 0px;
    }
    .home-product-content .sf-column{
      width: 100%;
      margin-top: 50px;
    }
    .home-product-content .over-div{
     display: none;
    }
    .home-collection-section{
      padding: 0px;
    }
    .home-collection-section .home-icon-section-image{
      display: none;
    }
    .home-collection-section  .ab-image{
      display: none;
    }
    .home-collection-section .home-icon-title-content{
      padding-top: 30px;
      padding-bottom: 0px;
      text-align: center;
    }
    .home-collection-section .home-icon-title-content h3{
      font-size: 40px;
    }
    .home-product-content .sf-column:first-child{
      margin-top: 0px;
    }
  }
/* End Home Collection Section */

/* Start Home Image Text Section */

 .home-image-text .image__box{
   max-width: 60%;
   margin: 0 auto;
 }
 .home-image-text .content__box{
   max-width: 75%;
   margin-left: auto;
   font-size: 24px;
 }
 .home-image-text .content__box p{
   font-size: 24px;
   color: #060606;
 }
 .home-image-text .sf-custom__grid{
   align-items: center;
 }
 @media (max-width: 768px){
  .home-image-text .content__box{
    max-width: 100%;
    padding: 0px 20px
  }
 }
/* End Home Image Text Section */

/* Start FAQ page */
.tab-titles{
  padding-top: 40px;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
.tab-title{
  padding: 10px 60px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  letter-spacing: 5px;
}
.tab-title.active{
  border: solid white;
}
.bg-black .sf__accordion-button{
  color: white;
}

.bg-black .sf__accordion-button{
  padding: 10px 0px;
  border: solid 2px #FF0000;
  padding: 0 20px;
  border-bottom: solid 2px #FF0000 !important;
  letter-spacing: 4px;
}
.bg-black .sf__custom-accordion{
  margin-top: 10px;
}
.faq-section{
  min-height: 50vh;
}
.bg-black .sf__accordion-content p{
  padding: 30px;
  color: white;
}
.bg-black .open .sf__accordion-button{
  background: #FF0000;
}
.bg-black .sf__accordion-content {
  background: #161616;
}
.accordion-section{
  position: relative;
}
.more_question{
  padding-bottom: 120px;
  position: relative;
}
.faq_border_image{
  position: absolute;
}
.border_image_1{
  left: 0px;
  max-width: 140px;
}
.border_image_2{
  right: 0px;
  max-width: 140px;
}
.border_image_3{
  top: 0px;
  transform: translateY(-50%);
  max-width: 200px;
}
.border_image_4{
  right: 0px;
  top: 0px;
  transform: translateY(-50%);
  max-width: 300px;
}
@media (min-width:768px) {
  .tab-titles{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 0px;
    padding-top: 80px;
  }
  
}
@media (max-width:1496px){
  .faq_border_image{
    display: none;
  }
}
@media (max-width:768px) {
  .bg-black .sf__accordion-button{
    padding-right: 35px;
  }
  .more_question{
    margin-bottom: 0px;
  }
 
}
/* End FAQ page */
/* Start Cart Drawer */
#shopify-section-cart-drawer .scd__content{
  background: transparent;
  color: white;
}
.scd-item__info a{
  color: #4AA1FF;
  font-size: 18px;
  font-weight: 700;
}
.scd-item__prices .scd-item__price{
  font-size: 18px;
  font-weight: 700;
}
.checkout-form{
  background: #000;
}
.scd__body{
  min-height: 50vh;
}
.tax-text{
  font-size: 12px;
}
.scd__footer{
  padding-bottom: 3rem;
}
.scd__checkout {
  font-size: 24px;
  letter-spacing: 3px;
}
.scd__subtotal{
  letter-spacing: 2px;
}
.scd__subtotal .font-medium{
  font-weight: 600;
}
.saving-money {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
}

@media (min-width:768px){
  .scd__footer, .scd__body{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .scd__header{
    padding-left: 3.5rem;
    margin-left: 0px;
  }
  .tax-text{
    font-size: 14px;
  }

}
@media (max-width:768px) {
  .scd__close{
    right: 15px;
    top: 10px;
  }
}

/* End Cart Drawer */